.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

.post {
    max-width: 720px;
    margin: 5rem auto 0;

    h1 {
        font-size: 3.5rem;
        font-weight: 900;
    }

    time {
        display: inline-block;
        font-size: 1rem;
        color: var(--gray-300);
        margin-top: 1.5rem;
    }

    .postContent {
        margin-top: 2rem;
        line-height: 2rem;
        font-size: 1.125rem;
        color: var(--gray-100);

        p, ul {
            margin: 1.5rem 0;
        }

        ul {
            padding-left: 1.5rem;

            li {
                margin: .5rem 0;
            }
        }

        &.previewContent {
            background: linear-gradient(var(--gray-50), transparent);
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .continueReading {
        background-color: var(--gray-700);
        border-radius: 25rem;
        font-size: 1.25rem;
        margin: .65rem auto;
        padding: 2rem 0;
        text-align: center;

        a {
            display: inline-block;
            color: var(--yellow-500);
            font-weight: bold;
            margin-left: .35rem;
            transition: filter .2s;

            &:hover {
                filter: brightness(1.25);
            }
        }
    }
}