.signInButton {
    align-items: center;
    background-color: var(--gray-700);
    border-radius: 3rem;
    border: 0;
    color: var(--white);
    display: flex;
    font-weight: bold;
    height: 3rem;
    justify-content: center;
    padding: 0 1.5rem;
    transition: filter .2s;

    svg {
        height: 1.45rem;
        width: 1.45rem;
    }

    svg:first-child {
        margin-right: 1rem;
    }

    svg.closeIcon {
        margin-left: 1rem;
    }

    &:hover {
        filter: brightness(0.8);
    }
}